extends layout

block link-docs 
  link(rel="stylesheet" href="/stylesheets/index.css")
  script(src="/javascripts/index.js" defer)

block content
  div.carousel
    svg.carousel-icon.left-icon(xmlns="http://www.w3.org/2000/svg" width="96" height="96" viewBox="0 0 24 24")
      path(fill="#FFFFFF" d="M15.41 16.59L10.83 12l4.58-4.59L14 6l-6 6l6 6l1.41-1.41z")
    img.carousel-banner.previous-banner(src="/images/banners/uncharted-4-banner.jpeg", alt="Uncharted 4 Banner")
    img.carousel-banner.current-banner(src="/images/banners/spider-man-banner.jpeg", alt="Spider-Man Banner")
    img.carousel-banner.next-banner(src="/images/banners/hogwarts-legacy-banner.jpeg", alt="Hogwarts Legacy Banner")
    svg.carousel-icon.right-icon(xmlns="http://www.w3.org/2000/svg" width="96" height="96" viewBox="0 0 24 24")
      path(fill="#FFFFFF" d="M9.4 18L8 16.6l4.6-4.6L8 7.4L9.4 6l6 6l-6 6Z")
  div.index-section
    div.section-heading Games 
    div.section-content 
  div.banner-section 
    div.banner-image-box
      img.banner-image(src="/images/banners/consoles-banner.jpeg", alt="Accessories Banner")
    div.banner-content
      div.banner-content-h Don’t have a console? We got you covered!
      div.banner-content-t Manage your inventory by your rules. Feel free to add or remove consoles as you buy or sell them. Remove an outdated console when you get rid of it.
  div.index-section
    div.section-heading Consoles
    div.section-content 
  div.banner-section 
    div.banner-content
      div.banner-content-h Accessories to go with your favorite consoles!
      div.banner-content-t We are now offering original add-on products so you can customize your favorite consoles and make them truly your own.
    div.banner-image-box
      img.banner-image(src="/images/banners/accessories-banner.jpeg", alt="Consoles Banner") 
  div.index-section
    div.section-heading Accessories
    div.section-content
  div.icons-batch 
    div.icon-package 
      svg(xmlns="http://www.w3.org/2000/svg" width="76" height="60" viewBox="0 0 24 24")
        path(fill="#FF9F1C" d="M2 5h20v15H2V5m18 13V7H4v11h16M17 8a2 2 0 0 0 2 2v5a2 2 0 0 0-2 2H7a2 2 0 0 0-2-2v-5a2 2 0 0 0 2-2h10m0 5v-1c0-1.1-.67-2-1.5-2s-1.5.9-1.5 2v1c0 1.1.67 2 1.5 2s1.5-.9 1.5-2m-1.5-2a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 1 .5-.5M13 13v-1c0-1.1-.67-2-1.5-2s-1.5.9-1.5 2v1c0 1.1.67 2 1.5 2s1.5-.9 1.5-2m-1.5-2a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 1 .5-.5M8 15h1v-5H8l-1 .5v1l1-.5v4Z") 
      div.icon-package-t Discounted Price
    div.icon-package 
      svg(xmlns="http://www.w3.org/2000/svg" width="76" height="60" viewBox="0 0 32 32")
        path(fill="#FF9F1C" d="m29.92 16.61l-3-7A1 1 0 0 0 26 9h-3V7a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v17a1 1 0 0 0 1 1h2.14a4 4 0 0 0 7.72 0h6.28a4 4 0 0 0 7.72 0H29a1 1 0 0 0 1-1v-7a1 1 0 0 0-.08-.39ZM23 11h2.34l2.14 5H23ZM9 26a2 2 0 1 1 2-2a2 2 0 0 1-2 2Zm10.14-3h-6.28a4 4 0 0 0-7.72 0H4V8h17v12.56A4 4 0 0 0 19.14 23ZM23 26a2 2 0 1 1 2-2a2 2 0 0 1-2 2Zm5-3h-1.14A4 4 0 0 0 23 20v-2h5Z")
      div.icon-package-t Swift Delivery
    div.icon-package 
      svg(xmlns="http://www.w3.org/2000/svg" width="76" height="60" viewBox="0 0 24 24")
        path(fill="#FF9F1C" d="M12.3 8.93L9.88 6.5h5.62V10H17V5H9.88l2.42-2.43l-1.06-1.07L7 5.75L11.24 10l1.06-1.07M12 14a3 3 0 1 0 3 3a3 3 0 0 0-3-3m-9-3v12h18V11m-2 8a2 2 0 0 0-2 2H7a2 2 0 0 0-2-2v-4a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2Z") 
      div.icon-package-t Easy Return
    div.icon-package 
      svg(xmlns="http://www.w3.org/2000/svg" width="76" height="60" viewBox="0 0 24 24")
        path(fill="#FF9F1C" d="M18.72 14.76c.35-.85.54-1.76.54-2.76c0-.72-.11-1.41-.3-2.05c-.65.15-1.33.23-2.04.23A9.07 9.07 0 0 1 9.5 6.34a9.21 9.21 0 0 1-4.73 4.88c-.04.25-.04.52-.04.78A7.27 7.27 0 0 0 12 19.27c1.05 0 2.06-.23 2.97-.64c.57 1.09.83 1.63.81 1.63c-1.64.55-2.91.82-3.78.82c-2.42 0-4.73-.95-6.43-2.66a9.03 9.03 0 0 1-2.24-3.69H2v-4.55h1.09a9.09 9.09 0 0 1 15.33-4.6a8.991 8.991 0 0 1 2.47 4.6H22v4.55h-.06L18.38 18l-5.3-.6v-1.67h4.83l.81-.97m-9.45-2.99c.3 0 .59.12.8.34a1.136 1.136 0 0 1 0 1.6c-.21.21-.5.33-.8.33c-.63 0-1.14-.5-1.14-1.13c0-.63.51-1.14 1.14-1.14m5.45 0c.63 0 1.13.51 1.13 1.14c0 .63-.5 1.13-1.13 1.13c-.63 0-1.14-.5-1.14-1.13a1.14 1.14 0 0 1 1.14-1.14Z") 
      div.icon-package-t Dedicated Customer Support
    
    
