extends layout

block link-docs 
  link(rel="stylesheet" href="/stylesheets/index.css")
  script(src="/javascripts/index.js" defer)

block content
  div.carousel
    svg.carousel-icon.left-icon(xmlns="http://www.w3.org/2000/svg" width="96" height="96" viewBox="0 0 24 24")
      path(fill="#FFFFFF" d="M15.41 16.59L10.83 12l4.58-4.59L14 6l-6 6l6 6l1.41-1.41z")
    img.carousel-banner.previous-banner(src="/images/banners/uncharted-4-banner.jpeg", alt="Uncharted 4 Banner")
    img.carousel-banner.current-banner(src="/images/banners/hogwarts-legacy-banner.jpeg", alt="Hogwarts Legacy Banner")
    img.carousel-banner.next-banner(src="/images/banners/mw-2-banner.jpeg", alt="COD MW 2 Banner")
    svg.carousel-icon.right-icon(xmlns="http://www.w3.org/2000/svg" width="96" height="96" viewBox="0 0 24 24")
      path(fill="#FFFFFF" d="M9.4 18L8 16.6l4.6-4.6L8 7.4L9.4 6l6 6l-6 6Z")
  div.index-section
    div.section-heading Games 
    div.section-content 
  div.banner-section 
    div.banner-image-box
      img.banner-image(src="/images/banners/consoles-banner.jpeg", alt="Accessories Banner")
    div.banner-content
      div.banner-content-h Don’t have a console? We got you covered!
      div.banner-content-t Manage your inventory by your rules. Feel free to add or remove consoles as you buy or sell them. Remove an outdated console when you get rid of it.
  div.index-section
    div.section-heading Consoles
    div.section-content 
  div.banner-section 
    div.banner-image-box
      img.banner-image(src="/images/banners/accessories-banner.jpeg", alt="Consoles Banner") 
    div.banner-content
      div.banner-content-h Accessories to go with your favorite consoles!
      div.banner-content-t We are now offering original add-on products so you can customize your favorite consoles and make them truly your own.
  div.index-section
    div.section-heading Accessories
    div.section-content 
    
