.accessories-section {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-top: 30px;
    width: 100%;
}

.underline {
    width: 220px;
}

.filters-section {
    padding-bottom: 30px;
}