#content {
    flex-direction: row;
    font-size: 1rem;
    padding: 100px;
}

.game-img, .game-info {
    flex-grow: 1;
    flex-basis: 0;
}

.game-img img {
    width: 100%;
}

.game-img {
    min-width: 400px;
}

.game-info {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    gap: 8px;
}

.game-info-name, .game-info-price {
    font-size: 2.4rem;
}

.game-info-company, .game-info-console {
    color: #505e69;
}

.game-info-console {
    padding-top: 5px;
    font-size: 1.2rem;
}

.game-info-price {
    color: #ca7600;
    padding: 5px 0px;
}

hr {
    background-color: #c3cbd2;
    border: none;
    height: 1px;
    margin-top: 5px;
}

.game-info-name, .info-label {
    color: #022745;
}

.info-label {
    font-size: 1.3rem;
}

.read-more {
    text-decoration: underline;
    color: #e71d36;
    border: none;
    background-color: #ffffff;
    font-size: 0.9rem;
    padding: 5px 0px;
}

.read-more:hover {
    cursor: pointer;
}

.description-text {
    position: relative;
    max-height: 100px;
    word-wrap: break-word;
    overflow: hidden;
}

.fader {
    position: absolute;
    bottom: 0;
    height: 36px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(255, 255, 255));
    width: 100%;
    background-color: #ffffffbb;
}

.game-info-console a {
    color: inherit;
}

.game-info-buttons {
    display: flex;
    gap: 50px;
    padding: 20px 0px;
}

.update-btn, .delete-btn {
    padding: 10px 50px;
    font-size: 1.4rem;
    font-weight: 300;
    border: 1px solid #022745; 
    color: white;
}

.update-btn:hover, .delete-btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.update-btn {
    background-color: #011627;
}

.delete-btn {
    background-color: #dc2626;
}