@keyframes rotateInRight {
    from {
        transform: perspective(200em) rotateY(90deg);
    }

    to {
        transform: perspective(200em) rotateY(0deg);
    }
}

@keyframes rotateOutRight {
    from {
        transform: perspective(200em) rotateY(0deg);
    }

    to {
        transform: perspective(200em) rotateY(90deg);
    }
}

@keyframes rotateInLeft {
    from {
        transform: perspective(200em) rotateY(-90deg);
    }

    to {
        transform: perspective(200em) rotateY(0deg);
    }
}

@keyframes rotateOutLeft {
    from {
        transform: perspective(200em) rotateY(0deg);
    }

    to {
        transform: perspective(200em) rotateY(-90deg);
    }
}

.rotateInRight {
    animation-name: rotateInRight;
}

.rotateInLeft {
    animation-name: rotateInLeft;
}

.rotateOutRight {
    animation-name: rotateOutRight;
}

.rotateOutLeft {
    animation-name: rotateOutLeft;
}

.rotateOutLeft, .rotateOutRight {
    animation-duration: 1s;
    animation-timing-function: ease-in;
}

.rotateInLeft, .rotateInRight {
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.games-section {
    position: relative;
}

.game-card {
    display: flex;
    position: absolute;
    inset: 0;
}

[data-active] {
    position: relative;
    z-index: 1;
}

[data-active] .game-info, [data-active] .game-img {
    transform: rotateY(0deg);
}

.game-info, .game-img {
    transform: rotateY(90deg);
    will-change: transform;
}

.game-info {
    flex-basis: 35%;
    background-color: #011627;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.game-img {
    flex-basis: 65%;
    position: relative;
}

.game-img > img {
    width: 100%;
    border-radius: 50px;
    height: 100%;
    object-fit: cover;
}

.game-heading {
    font-size: 1.8rem;
    color: #FF9F1C;
}

.game-text {
    color: #FFFFFF;
    font-size: 1.1rem;
}

.game-btn, .c-section-btn, .a-section-btn {
    font-size: 1.1rem;
    padding: 10px 30px;
    background-color: #BB6C00;
    color: #FFFFFF;
    border-style: none;
    border-radius: 10px;
}

.game-btn:hover, .c-section-btn:hover, .a-section-btn:hover {
    cursor: pointer;
    background-color: #ab6400;
}

.prev-btn, .next-btn {
    user-select: none;
    border-style: none;
    position: absolute;
    background-color: #FFFFFF80;
    font-size: 1rem;
}

.prev-btn:hover, .next-btn:hover {
    background-color: #FFFFFF64;
    cursor: pointer;
}

.prev-btn {
    left: 0;
    bottom: 0;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 20px;
    padding: 15px 25px 15px 40px;
}

.next-btn {
    top: 0;
    right: 0;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 20px;
    padding: 15px 40px;
}

.best-section, .recent-section {
    min-height: 500px;
    padding: 20px 40px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}

.recent-section .underline { 
    width: 300px;
}

.best-section .underline {
    width: 220px;
}

.radio-box {
    padding: 40px 0px;
}

.radio-box button {
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #344552;
    border: 1px solid #5a6873;
    border-right: none;
    height: 50px;
    min-width: 120px;
    padding: 0 25px 0 25px;
    cursor: pointer;
}

.radio-box > button:last-child {
    border-right: 1px solid #5a6873;
    border-radius: 0 4px 4px 0;
}

.radio-box > button:first-child {
    border-radius: 4px 0 0 4px;
}

.radio-box button.selected {
    background-color: #BB6C00;
    border-color: #BB6C00;
    color: white;
}

.console-section, .accessory-section {
    display: flex;
}

.console-info, .accessory-info {
    flex-basis: 40%;
    background-color: #011627;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.console-img, .accessory-img {
    flex-basis: 60%;
    position: relative;
}

.console-img > img, .accessory-img > img {
    width: 100%;
    border-radius: 50px;
    height: 100%;
    object-fit: cover;
}

.c-section-heading, .a-section-heading {
    font-size: 1.8rem;
    color: #FF9F1C;
    text-align: center;
}

.c-section-text, .a-section-text {
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
}

.icons-section {
    display: flex;
    height: 130px;
    background-color: #cfd4d9;
    border-radius: 20px;
    padding: 40px;
    margin: 20px 0px;
    align-items: center;
    justify-content: space-evenly;
}

.icon-package {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #011627;
}

.best-section .item-cards {
    padding-bottom: 0px;
}