.carousel {
    width: 100%;
    height: 600px;
    position: relative;
    overflow: hidden;
}

.carousel-banner {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}

.carousel-icon {
    position: absolute;
    top: 50%;
    z-index: 1;
}

.carousel-icon:hover {
    cursor: pointer;
}

.left-icon {
    left: 0;
}

.right-icon {
    right: 0;
}

.previous-banner {
    transform: translateX(-100%);
}

.current-banner {
    transform: translateX(0%);
}

.next-banner {
    transform: translateX(100%);
}

.slide-left {
    transition: transform 1s;
    transform: translateX(-100%);
}

.slide-right {
    transition: transform 1s;
    transform: translateX(100%);
}

.slide-in {
    transition: transform 1s;
    transform: translateX(0%);
}

.section-heading {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    color: #FF9F1C;
    border-top: 5px solid #FF9F1C;
    border-bottom: 5px solid #FF9F1C;
    padding: 10px 0px;
}

.section-content {
    background-color: #CCADAD;
    height: 280px;
}

.banner-section {
    height: 450px;
    display: flex;
}

.banner-image-box {
    flex-basis: 50%;
}

.banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-content {
    box-sizing: border-box;
    flex-basis: 50%;
    background-color: #2ec4b5b3;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 8%;
}

.banner-content-h {
    color: #E71D36;
    font-size: 2rem;
    padding-bottom: 10px;
}

.banner-content-t {
    color: #FFFFFF;
    font-size: 1.4rem;
}