@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@600&display=swap');

* {
    font-family: 'Lexend Deca', sans-serif;
}

html,
body {
    height: 100vh;
    padding: 0%;
    margin: 0%;
}

body {
    display: flex;
    flex-direction: column;
}

footer, header {
    background-color: #011627;
    display: flex;
    justify-content: space-between;
    padding: 30px 80px;
}

a {
    text-decoration: none;
}

.logo, .logo-small {
    font-size: 3rem;
    color: #FFFFFF;
}

.logo-small {
    font-size: 2rem;
}

.yellow {
    color: #FF9F1C;
}

.nav-items, .footer-links {
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.nav-item {
    margin-left: 60px;
    color: #FFFFFF;
}

.nav-item:hover {
    color: #FF9F1C;
}

#content {
    flex: 1;
}

.mission {
    flex-grow: 1;
    flex-basis: 50%;
    padding: 10px;
}

.footer-links-icons {
    flex-grow: 1;
    flex-basis: 50%;
}

.footer-links {
    justify-content: space-between;
}

.mission-statement {
    color: #FFFFFF;
    padding: 10px 0px;
}