@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@600&display=swap');

* {
    font-family: 'Lexend Deca', sans-serif;
}

html,
body {
    height: 100vh;
    padding: 0%;
    margin: 0%;
}

body {
    display: flex;
    flex-direction: column;
}

footer, header {
    background-color: #011627;
    padding: 30px 80px;
}

header {
    display: flex;
    justify-content: space-between;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 0px;
}

a {
    text-decoration: none;
}

.logo, .logo-small {
    font-size: 3rem;
    color: #FFFFFF;
}

.logo-small {
    font-size: 2rem;
}

.yellow {
    color: #FF9F1C;
}

.nav-items, .footer-links {
    display: flex;
    align-items: center;
    font-size: 1rem;
    justify-content: space-evenly;
}

.nav-items {
    width: 50%;
}

.nav-item {
    color: #FFFFFF;
}

.nav-item:hover {
    color: #FF9F1C;
}

#content {
    flex: 1;
}

.mission {
    padding: 10px;
}

.footer-icons {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0px;
}

.mission-statement {
    color: #FFFFFF;
    padding: 10px 0px;
}

.bottom-text {
    font-size: .9rem;
    grid-column: span 2;
    color: #FFFFFF;
    padding: 15px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-text span {
    padding: 0px 5px
}

.bottom-text a {
    color: #FFFFFF;
}

.bottom-text a:hover {
    color: #5DADEC;
}